body {
  font-family: "Roboto", sans-serif;
  background-color:#222A35;
  
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 710px;
  margin: 0;
}
.navbar-nav > li {
    text-align: center;
}

