body {
  font-family: "Roboto", sans-serif;
  background-color:#222A35;
  
}

/* Header nav */


.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 710px;
  margin: 0;

}
.navbar {
  padding: 0.1rem 1rem;
}

.logo {
  padding-top: 1.5rem;
  margin-left: -2rem;
}
.navbar-nav > li {
    text-align: center;
}


a{
  color: white;
  text-decoration: none;
  background-color: transparent;
}
.btn-primary {
  color: #000;
  border-color: none;
  background: linear-gradient(180deg, #A27EEF 0%, #F09038 100%);
  border-radius: 35px;
  /*border: 2px solid transparent;*/
  padding: 4px 20px;
  opacity: 1;
  transition: all 0.4s;
}

    



.nav-link {
  color: white;
  opacity: 1;
}

.nav-link:hover {
  color:white;
  opacity: 0.7;
}

.btn-primary:hover {
  color: black;
  border-color: none;
  background: linear-gradient(180deg, #A27EEF 0%, #F09038 100%);
 opacity:0.7;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #212529;
  border-color: #d3d8de;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}




/* Hero-jumbotron */

div.jumbotron {
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image {
  position: relative;
  object-fit: contain;
  width: 100%;
  
}

.hero-content {
  position:absolute;
  margin-top: -20rem;
  margin-left: 100px;

}

.hero-text {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 600;
  margin-top: -6rem;

  color: azure;
}



.hero-text > strong {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 600;
  color:#ee9f54
}

.hero-statement {
  padding-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight:500;
  text-align: left;
  margin-left: -9px;
  width: 1000px;
  color: azure;
}

.hero-cta {
  display: flex;
  margin-top: 3rem;
  border: none;
}

.form-control-lg {
  height: 60px;
  opacity: 0.5;
  color: #697579;
  border-radius: 0.1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

.form-control {
  width: 900px;
  border: none;
}

.hero-button {
  white-space: nowrap;
  padding-top: 5px;
  padding: 14px 30px 12px 30px;
  margin-left: 2.813rem;
  background: linear-gradient(180deg, #77D5F2 0%, #A27EEF 100%);
  border-radius: 35px;
}




/* Section main-content */
.content1 {
  margin-left: 95px;

}

.content1-cta {
 float: left;
 width: 450px;
}
.content1-header {
  padding-bottom: .5rem;
  text-align: left;
  font-size: 34px;
  font-weight: 700;
  color: azure;
}

.content1-text1 {
  font-size:24px;
  font-weight: 400;
  line-height: 2.2rem;
  padding-top: 1.5rem;
  padding-bottom: 4.75rem;
  color:azure;
}

.content1-image-assets {
  display: grid;
  vertical-align: top;
  position: relative;
  width: 500px;
  padding-left: 300px; 
}
.svg1 {
  z-index: -1;
}
.svg1, .laptop {
  grid-column: 1;
  grid-row: 1;
  
}

/****/

.content2 {
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 3.5rem;
}

.content2-cta {
  float: right;
  width: 500px;
 }

 .content2-header {
  padding-bottom: .5rem;
  text-align: left;
  font-size: 34px;
  font-weight: 700;
  color: azure;
}

.content2-text2 {
  font-size:24px;
  font-weight: 400;
  line-height: 2.2rem;
  padding-top: 1.5rem;
  padding-bottom: 4.75rem;
  color:azure;
}

.content2-image-assets {
  display: grid;
  vertical-align: top;
  position: relative;
  width: 500px;
}

img.circle {
  padding-bottom: 3.5rem;
  z-index: -2;
}

.circle, .person1, .person2, .person3 {
  grid-column: 1;
  grid-row: 1;
}

.person1 {
  margin-left: -60px;
  margin-top: 95px;
}

.person2 {
  margin-left: 50px;
  margin-top: 10px;
}

.person3 {
  margin-left: 200px;
  margin-top: 80px;
}

/****/

.content3 {
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 3.5rem;
  margin-bottom: 3.5rem;

}

.content3-cta {
  float: left;
  width: 450px;
 }

 .content3-header {
  padding-bottom: .5rem;
  text-align: left;
  font-size: 34px;
  font-weight: 700;
  color: azure;
}

.content3-text3 {
  font-size:24px;
  font-weight: 400;
  line-height: 2.2rem;
  padding-top: 1.5rem;
  padding-bottom: 4.75rem;
  color:azure;
}

.content3-image-assets {
  display: grid;
  vertical-align: top;
  position: relative;
  width: 500px;
  padding-left: 283px;
}

.svg2 {
  z-index: -1;
}

.writing {
  margin-left: 70px;
  margin-top: 80px;
}

.svg2, .writing {
  grid-column: 1;
  grid-row: 1;
}


/* secondary-buttons */

.btn-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  width: 12rem;
  height: 3rem;
  /*background-size: 300% 300%;*/
  /*backdrop-filter: blur(1rem);*/
  border-radius: 5rem;
  transition: 0.5s;
  /*animation: gradient_301 5s ease infinite;*/
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(165.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%);
  background-origin: border-box;
  background-clip: content-box, border-box;

}

#container-stars {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  
}

strong {
  z-index: 2;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: none;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}


.btn-stars:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn-stars:hover {
  transform: scale(1.1)
}

.btn-stars:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}


/* Footer section */

section.footer-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin: auto;
}


footer{
  background-image:url(../Image/Footer-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


h4 {
  font-size: 1rem;
  color: white;
  font-weight: bold;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-size: small;
}

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
    font-size: small;
    padding: 10px;
    text-align: center;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border: 1px solid #92551D;
}


  
  
  
  
  
  
  